@import '../../styles/colors';

.tokens {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background: $blue;
}

.token {
  display: flex;
  align-items: stretch;
  margin-bottom: 10px;
}

.symbol {
  display: inline-block;
  font-size: 50px;
  line-height: 1.1;
  margin-left: 2px;
  min-width: 20px;
}

.active {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background: $green;
  }
}

.hidden {
}

.error {
  color: red;
}

.errorSpace {
  background: red;
}

.ok {
  background: $white;
}
