@import './colors.scss';

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $white;
}

a {
  text-decoration: none;
  color: $black;
}
