@import './colors.scss';
@import 'uikit/src/scss/variables.scss';
@import 'uikit/src/scss/mixins.scss';
@import './mixins.scss';
@import 'uikit/src/scss/uikit.scss';

html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: $white;
}

/* Copyright 2017 Google Inc. All Rights Reserved. */
#gdx-bubble-main, #gdx-arrow-container {
  background-color: #ffd;
  z-index: 99997
}

* {
  box-sizing: border-box
}

a {
  color: #11c;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

.display-none {
  display: none !important
}